@media screen {
* { margin: 0; padding: 0; }    
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ul, ol {list-style: none;}
strong {font-weight: bold;}

article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */

body { background-color:#f6f6f5;font: 12px/2 "Helvetica Neue",Helvetica,Arial,sans-serif;}
.clear{clear:both}


/*--------------------CONTAINER--------------------*/
#container{
    width: 1024px;
    margin: 0 auto;
    min-height: 900px;
    border: 1px #ccc solid;
    padding: 0px 20px;
}

/*--------------------HEADER--------------------*/#header{width:100%;min-height: 80px; border-bottom: 1px solid #e0dfde; box-shadow: 0px 0.1px 4px #e0dfde;padding: 0px 20px;margin-left:-20px}
#header-main{width:100%; margin: 0px auto}
.logo h1{display: block;height: 80px; line-height: 80px; float: left; padding-left: 10px;}
.logo a{text-decoration: none; color:#666; font-size: 30px; font-weight: bold;}
#nav-menu{height:80px; line-height:80px; float:right;margin-right: 0px;z-index:99999}
#nav-menu ul li{position: relative}
#nav-menu>ul li{display:inline;padding:0px 10px;z-index: 999999}
#nav-menu>ul li a{color:#505050; font-size: 16px; text-decoration: none;padding: 7px 10px;border: 1px solid #f6f6f5;}
#nav-menu>ul>li>a:hover,.active>a {background-color: #f9f9f9; border: 1px solid #ccc !important; border-radius: 5px; }


/*--------------------CONTENT-WRAP--------------------*/
#content-wrap{
    width: 100%;
}
#slides{
    width: 100%;padding:0px 20px;margin-left:-20px;
    border-bottom: 1px solid #e6e4e2;
    text-align: center;margin-top: 10px auto;
}
#slides img{margin: 30px 0; box-shadow: 1px 7px 25px #505050;}

/*--------------------MAIN-CONTENT--------------------*/
#main-content {width: 100%;border-top: 1px solid white;}
.title-main {width: 100%; height:80px;margin:0px auto;overflow: hidden;}
.title-main h2{color: #505050;font-size: 18px;float: left;line-height: 80px; height: 100%;}
.title-main a{display:block; text-decoration: none;font-weight: bold;
    float:right;color:#505050;font-size:14px; 
    background-color: #f9f9f9; 
    margin-top: 20px;
    padding: 5px 30px; box-shadow: 0px 4px #666563;
    letter-spacing: 1px;
    border-radius: 6px;
    border: 1px solid  #eee;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
}
.title-main a:hover{background-color: #eee;box-shadow: 0px 4px #f6c82a;}
/*--------------------CONTENT--------------------*/
#content{overflow: hidden;width: 100%;margin: 10px auto;}
.center-content{width:30%;float:left;}
.center-content{margin-left: 25px;}
.center-content:first-child{margin-left: 25px;}
.center-content h3{font-size:16px;color: #505050;font-weight: bold;}
.center-content p{color: #505050;font-size:14px; text-align: justify; line-height: 20px;}
.center-content a{text-decoration: none}
.center-content a:hover{text-decoration: underline}
/*--------------------FOOTER--------------------*/
#footer{width: 1024px;min-height: 200px;margin: 0px auto;margin-top: 30px;background-color:#1d1c1c;position: fixed; bottom: 0px;}

.main-footer{overflow: hidden;margin: 0 auto;position: relative;}
.main-footer .list{overflow: hidden;width: 23%;float: left;margin: 20px 10px;}
.main-footer .list h3{border-bottom: 1px solid black;color: #dedcdb;font-size: 16px;}
.main-footer .list ul li{border-bottom: 1px solid black;border-top: 1px solid #333;line-height: 30px;font-size: 11px;}
.main-footer .list ul li:last-child{border-bottom: none;}

.main-footer .list p{border-top: 1px solid #333;color: #dedcdb;font-size:12px;}
.main-footer .list li a{color: #dedcdb;font-size: 13px;text-decoration: none;}
.main-footer .list li a:hover{text-decoration: underline;}

.main-footer .list form{margin-top: 10px;position: relative;}
.main-footer .list form input[type='text']{
    background: transparent;
    display:block;
    width: 98%;
    border-radius:5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-top:1px solid #161615;
    border-right:1px solid #161615;
    border-left:1px solid #161615;
    border-bottom:1px solid #302f2e;
    line-height: 35px;
    padding-left:0px;
    color: white;
    
    
    
}
.main-footer .list form input[type='submit']{
    position: absolute;
    width: 75px;
    height: 25px;
    top: 5px;right:10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
/*---Back to top button---*/
#back-top {
    position: fixed;
    bottom: 15px;
    right: 25px;
}
#back-top a {
    width: 60px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    /* background color transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    color: #000;
}
/* arrow icon (span tag) */
#back-top span {
    width: 60px;
    height: 60px;
    display: block;
    margin-bottom: 7px;
    background: #ddd url(../images/scroll_top.png) no-repeat center center;
    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
   
    /* background color transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover span {
    background-color: #777;
}